:root {
    --primary: rgb(240, 240, 240);
    --secondary: rgb(200, 200, 200);
    --tertiary: rgb(88, 88, 88);
    --accent: rgb(106, 215, 254);
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    
}

body {
    background-color: var(--primary);
}

/* Dark Mode background */
.dark-body {
    background-color: var(--tertiary);
    color: var(--primary);
}

header {
    text-align: right;
    justify-content: space-between;
    padding: 2%;
    border-bottom: 5px solid var(--tertiary);
}

/* Dark Mode border */
.dark-header {
    border-bottom: 5px solid var(--primary);
}

#mode {
    color: rgb(255, 234, 0);
    background-color: var(--tertiary);
    padding: 5px 8px 5px 8px;
    border-radius: 30%;
    border: 1px solid var(--secondary);
    box-shadow: 3px 3px 3px var(--tertiary);
}

/* Dark Mode button style */
.dark-btn {
    background-color: var(--secondary);
    box-shadow: 3px 3px 3px var(--primary);
}

#back {
    color: white;
    background-color: var(--tertiary);
    font-style: bold;
    padding: 5px;
    border: 1px solid var(--secondary);
    box-shadow: 3px 3px 3px var(--tertiary);
}